<div [ngClass]='[actualTheme, "main"]'>
    <mat-toolbar class="title-modal">
        <h2>Editar Cliente</h2>
    </mat-toolbar>
    <div class="body-modal">
        <mat-tab-group mat-align-tabs="center">
            <mat-tab label="Cliente">
                <form [formGroup]="firstFormGroup">
                    <div class="content">
                        <div class="form-group-client">
                            <div class="row-inputs first-row">
                                <mat-form-field appearance="outline" class="form-input">
                                    <mat-label>Nombre</mat-label>
                                    <input matInput formControlName="nombreCtrl" required>
                                    <!-- <mat-autocomplete [class]="actualTheme" #auto="matAutocomplete">
                                        <mat-option [color]="color" (mouseover)=" color = 'accent'"
                                            (mouseout)=" color = 'primary'" [ngClass]='[actualTheme]'
                                            *ngFor="let cliente of filteredOptionsClientes | async" [value]="cliente.nombre">
                                            {{cliente.nombre}}
                                        </mat-option>
                                    </mat-autocomplete> -->
                                    <mat-error *ngIf="firstFormGroup.controls['nombreCtrl'].hasError('required')">
                                        El nombre es requerido.
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="form-input">
                                    <mat-label>Correo</mat-label>
                                    <input matInput formControlName="correoCtrl" required>
                                    <mat-error
                                        *ngIf="firstFormGroup.controls['correoCtrl'].hasError('email') && !firstFormGroup.controls['correoCtrl'].hasError('required')">
                                        El correo ingresado no es válido.
                                    </mat-error>
                                    <mat-error *ngIf="firstFormGroup.controls['correoCtrl'].hasError('required')">
                                        El correo es requerido.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="row-inputs">
                                <mat-form-field appearance="outline" class="form-input">
                                    <mat-label>Teléfono</mat-label>
                                    <input matInput formControlName="telCtrl" required maxlength="10">
                                    <mat-error
                                        *ngIf="firstFormGroup.controls['telCtrl'].hasError('pattern') && !firstFormGroup.controls['telCtrl'].hasError('required')">
                                        El número telefónico no es válido.
                                    </mat-error>
                                    <mat-error
                                        *ngIf="(firstFormGroup.controls['telCtrl'].hasError('minlength') || firstFormGroup.controls['telCtrl'].hasError('maxlength')) && !firstFormGroup.controls['telCtrl'].hasError('pattern') && !firstFormGroup.controls['telCtrl'].hasError('required')">
                                        El número telefónico tiene que tener 10 dígitos.
                                    </mat-error>
                                    <mat-error *ngIf="firstFormGroup.controls['telCtrl'].hasError('required')">
                                        El número telefónico es requerido.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </form>
            </mat-tab>
            <mat-tab label="Dirección">
                <form [formGroup]="firstFormGroup">
                    <div class="content">
                        <div class="form-group-client">
                            <div class="row-inputs first-row">
                                <mat-form-field appearance="outline" class="form-input">
                                    <mat-label>Calle</mat-label>
                                    <input matInput formControlName="calleCtrl" required>
                                    <mat-error *ngIf="firstFormGroup.controls['calleCtrl'].hasError('required')">
                                        La calle es requerida.
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="form-input">
                                    <mat-label>Número</mat-label>
                                    <input matInput formControlName="numeroCtrl" required>
                                    <mat-error *ngIf="firstFormGroup.controls['numeroCtrl'].hasError('required')">
                                        El número es requerido.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="row-inputs">
                                <mat-form-field appearance="outline" class="form-input">
                                    <mat-label>Colonia</mat-label>
                                    <input matInput formControlName="coloniaCtrl" required>
                                    <mat-error *ngIf="firstFormGroup.controls['coloniaCtrl'].hasError('required')">
                                        La colonia es requerida.
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="form-input">
                                    <mat-label>Código Postal</mat-label>
                                    <input matInput formControlName="cpCtrl" required>
                                    <mat-error *ngIf="firstFormGroup.controls['cpCtrl'].hasError('required')">
                                        El código postal es requerido.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="row-inputs">
                                <mat-form-field appearance="outline" class="form-input">
                                    <mat-label>Ciudad</mat-label>
                                    <input matInput formControlName="ciudadCtrl" required>
                                    <mat-error *ngIf="firstFormGroup.controls['ciudadCtrl'].hasError('required')">
                                        La ciudad es requerida.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </form>
            </mat-tab>
        </mat-tab-group>
        <div class="footer-stepper">
            <button mat-button color="warn" (click)="cancelar()">Cancelar</button>
            <button mat-button color="primary"
                [disabled]="nombreHasError || correoHasError || telHasError || calleHasError || numeroHasError || coloniaHasError || cpHasError || ciudadHasError"
                (click)="guardarCliente()">Guardar</button>
        </div>
    </div>
</div>