<div class="main-container">
    <div class="seeker-add">
        <mat-form-field appearance="outline" class="mat-form-field-width" color="primary">
            <mat-label>Buscar</mat-label>
            <input autocomplete="off" matInput (keyup)="applyFilter($event)" #input>
            <span matSuffix>
                <mat-icon color="primary" class="search-icon" matPrefix>search</mat-icon>
            </span>
        </mat-form-field>
    </div>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

            <!-- ID Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td mat-cell *matCellDef="let row"> {{row.id}} </td>
            </ng-container>

            <!-- Progress Column -->
            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre del cliente </th>
                <td mat-cell *matCellDef="let row"> {{row.nombre_cliente}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="fecha">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
                <td mat-cell *matCellDef="let row"> {{row.fecha | date: 'dd / MM / yyyy'}} </td>
            </ng-container>

            <!-- Color Column -->
            <ng-container matColumnDef="estado">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                <td mat-cell *matCellDef="let row"> {{row.estado}} </td>
            </ng-container>

            <!-- Color Column -->
            <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Total </th>
                <td mat-cell *matCellDef="let row"> {{row.total | currency}} </td>
            </ng-container>

            <!-- Actions Column -->
            <ng-container matColumnDef="ver">
                <th mat-header-cell *matHeaderCellDef>Ver</th>
                <td mat-cell *matCellDef="let row">
                    <button class="table-btn" mat-icon-button mat-button matTooltip="Ver Venta" (click)="mostrarVenta(row)">
                        <mat-icon color="primary">remove_red_eye</mat-icon>
                    </button>
                </td>
            </ng-container>

            <!-- Actions Column -->
            <ng-container matColumnDef="terminar">
                <th mat-header-cell *matHeaderCellDef>Terminar</th>
                <td mat-cell *matCellDef="let row">
                    <button [disabled]="row.estado === 'Terminada' || row.estado === 'Cancelada'" class="table-btn" mat-icon-button mat-button matTooltip="Terminar Venta" (click)="terminarVenta(row)">
                        <mat-icon [color]="(row.estado === 'Terminada' || row.estado === 'Cancelada') ? 'disabled' : 'primary'">done</mat-icon>
                    </button>
                </td>
            </ng-container>

            <!-- Actions Column -->
            <ng-container matColumnDef="cancelar">
                <th mat-header-cell *matHeaderCellDef>Cancelar</th>
                <td mat-cell *matCellDef="let row">
                    <button [disabled]="row.estado === 'Terminada' || row.estado === 'Cancelada'" class="table-btn" mat-icon-button mat-button matTooltip="Cancelar Venta"
                        (click)="cancelarVenta(row)">
                        <mat-icon class="table-btn" [color]="(row.estado === 'Terminada' || row.estado === 'Cancelada') ? 'disabled' : 'warn'">clear</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No se han encontrado resultados."</td>
            </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[6]"></mat-paginator>
    </div>
</div>